In [1]:
#CollectionsModule namedTuple

In [ ]:
#assings numbers and letters to the tuple / easier that doing a class

In [3]:
t = (1,2,3)

In [4]:
t[0] #when tupples are large or old you could not remember the tuple

1

In [5]:
from collections import namedtuple

In [6]:
Dog = namedtuple('Dog','age breed name')

In [7]:
sam = Dog(age = 2, breed = 'Lab', name  = 'Sammy')

In [8]:
sam.age #like a class

2

In [9]:
sam[0]

2

In [12]:
Cat = namedtuple('Cat','fur claws name')

In [14]:
c= Cat(fur = 'Fuzzy', claws = False, name='Kitty')

In [16]:
c.claws

False

In [ ]:
#https://docs.python.org/2/library/collections.html